@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Mochiy+Pop+P+One&display=swap");

.container-base {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 3em;
  background-color: #b2acfa;
}

.title {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 30pt;
  text-align: center;
}

.quote {
  font-family: "Lora", serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
}

.container-content {
  overflow: hidden;
  background-color: #f5f5f5a1;
  min-height: 80vh;
  border-radius: 20px;
  padding: 2em;
}
